#home {
    margin: 1rem 0 1rem 0;
    border: 1px solid rgba(50, 50, 50, 1);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    
    @include mq(medium) {
        top: 12.25rem;
        border: 1px solid transparent;
    }
    @include mq(small) {
        top: 11.5rem;
        border: 1px solid transparent;
    }
    
    & h1, h2, h3 {
        text-align: center;
    }
    
    & .add {
        margin: 5rem 0 0 0;
        
        & h3 {
            color: $cThree;
            margin: 0 0 2.5rem 0;
        }
        
        & form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            & p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
                margin: 0 1rem;
                
                &:last-of-type {
                    
                    @media (max-width: 553px) {
                        margin-top: 1rem;
                    }
                }
                
                & label {
                    color: $neutral-color;
                    margin: 0 0 1rem 0;
                }
                
                & input {
                    border-radius: 5px;
                    padding: 0.25rem 0.5rem;
                    border: 2px solid transparent;
                    
                    &:focus {
                        border: 2px solid $cThree;
                    }
                }
            }
        }
        
        & > p {
            margin: 2rem 0 0 0;
            text-align: center;
        }
        
        & > ul {
            color: rgba(215, 0, 0, 1);
            
            & li {
                display: flex;
                justify-content: center;
                margin: 0.5rem 0 0.5rem 0;
                
                & p {
                    font-weight: bold;
                    padding: 0.25rem 0.5rem;
                    display: inline-flex;
                    background-color: #ccc;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    
    & .myPuzzles {
        margin-top: 10rem;
        
        & h2 {
            color: $neutral-color;
            margin: 0 0 3rem 0;
        }
        
        & article {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            & ul {
                margin: 1rem 0;
                background-color: rgba(100, 100, 100, 0.7);
                padding: 0.5rem;
                border-radius: 1rem;
                
                & #itemID {
                    display: none;    
                }
                
                & li {
                    text-align: center;
                    
                    &:not(:nth-of-type(2)) {
                        display: flex;
                        justify-content: space-around;
                        margin: 1rem 0 0 0;
                        
                        &:last-of-type {
                            margin-bottom: 1rem;
                        }
                    }
                    
                    & img {
                        max-width: 250px;
                        object-fit: contain;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
    
    & .edit {
        margin: 10rem 0 5rem 0;
        
        & h2 {
            color: $cFour;
            margin: 0 0 3rem 0;
        }
        
        & form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            & p {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
                margin: 0 1rem;
                
                &:last-of-type {
                    
                    @media (max-width: 553px) {
                        margin-top: 1rem;
                    }
                }
                
                & label {
                    color: $neutral-color;
                    margin: 0 0 1rem 0;
                }
                
                & input {
                    border-radius: 5px;
                    padding: 0.25rem 0.5rem;
                    border: 2px solid transparent;
                    
                    &:focus {
                        border: 2px solid $cThree;
                    }
                }
            }
        }
        
        & .editingSection {
        
            & > p {
                margin: 2rem 0 2rem 0;
                text-align: center;
                
                & button {
                    margin: 0 1rem;
                }
            }

            & > ul {
                color: rgba(215, 0, 0, 1);
                
                & li {
                    display: flex;
                    justify-content: center;
                    margin: 0.5rem 0 0.5rem 0;
                    
                    & p {
                        font-weight: bold;
                        padding: 0.25rem 0.5rem;
                        display: inline-flex;
                        background-color: #ccc;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}